.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-width:70vw;
    max-width:fit-content;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content{
    background-color:#ededed;
  }
  
  #chatContainer {
    height: fit-content;
    /* overflow-y: scroll; */

  }
  
  #chatOutput {
    margin-bottom: 10px;
  }
  
  #chatOutput  > *:nth-child(odd) {
    width:fit-content;
    max-width:20vw;
    padding:1rem;
    border-radius:1vmax;
    font-size:.9rem;
    background-color: #fff;
    position: relative;
    left:0;
    margin:1rem 0;
}
#chatOutput  > *:nth-child(even) {
    
    width:fit-content;
    max-width:20vw;
    padding:1rem;
    border-radius:1vmax;
    font-size:.9rem;
    background-color: #ad2f2f;
    position: relative;
    left:65%;
    margin:1rem 0;
}
  #userInput {
    width: calc(100% - 80px);
    padding: 1rem;
    border-radius: 50vmax;
    margin: 1rem 0;
  }
  
  #sendBtn {
    width: 80px;
  }

  /* .help-modal a{
    padding:1rem;
  } */


  #chatBtn{
    width:1rem;
    height:1rem;
    font-size:1rem;
    font-weight:100;
    padding:1rem;
    color:black;
    background-color: var(--white);
    border:1px solid black;
    border-radius: 50vmax;
    box-shadow:1px 1px 3px rgba(0,0,0,0.2);
    display:flex;
    justify-content: center;
    align-items:center;
    position:fixed;
    top:80vh;
    left:2vw;
}

#chatBtn:hover{
  background:black;
  color:white;
  transform:scale(1.2);
  transition:all .2s ease-in-out;
}

@media only screen and (min-width: 600px) {
  #chatBtn{
    left:5vw;
  }
}
  