/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */
.container {
    position: relative;
    width: 300px;
    height: 300px;
position: fixed;
    left: 82vw;
    top: 10vh;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius:50vmax;
    background-color:#ffffff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1e9dd0;
    position: absolute;
    opacity:0;

    /*animation: pulse 1s ease-in-out infinite alternate;*/
}

.pulse {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    /* animation: pulse 1s ease-in-out infinite alternate; */
}

.reveal1 {
        animation: fadeIn 3s ease forwards;
        animation-delay: 1s;
    }

.reveal2 {
        animation: fadeIn 3s ease forwards;
        animation-delay: 2s;
    }
.reveal3 {
        animation: fadeIn 3s ease forwards;
        animation-delay: 3s;
    }
.reveal4 {
        animation: fadeIn 3s ease forwards;
        animation-delay: 4s;
    }
.reveal5 {
        animation: fadeIn 3s ease forwards;
        animation-delay: 5s;
    }
.reveal6 {
        animation: fadeIn 3s ease forwards;
        animation-delay: 6s;
    }
.reveal7 {
        animation: fadeIn 3s ease forwards;
        animation-delay: 7s;
    }
.reveal8 {
        animation: fadeIn 3s ease forwards;
        animation-delay: 8s;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}